<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCM - Login</title>
    <link rel="icon" href="../static/img/favicon/favicon.ico" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <header>
        <div class="container">
            <p class="logo"><img src="../static/img/Captura de pantalla 2025-01-29 222940.png" alt="logo"></p>
            <nav>
               <a href="../index.html">Home</a>
               <a href="./eventos.html">Eventos</a>
            </nav>
           </div>
    </header>

    <main>
        <div class="loreg">
        <div class="contenedor">

            <div class="form-content">
        <section id="login-form" class="container">
            <h1 id="title">Inicio de Sesion</h1>
            <form id="form-login">
                <div class="input-group">
                <div class="form-control">
                    <div class="input-field">
                    <i class="fa-solid fa-envelope"></i>
            
                    <input type="email" id="email" name="email" placeholder="Correo" required>
                </div>
                </div>
                
                <div class="form-control">
                    <div class="input-field">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" id="password" placeholder="Contraseña" name="password" required>
                </div></div>
                <div class="btn-field">
                <button type="submit">Iniciar Sesión</button>
            </div>
            </div>
            </form>
            <p  id="tex">¿No tienes cuenta? <a href="./registro.html">Regístrate aquí</a></p>
        </section>
        </div>
        </div>
        </div>
    </main>

    <footer>
        <div class="container">
         <span>   &copy; Centro Civico Municipal 2025&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Contacta con nosotros: Tel.: 112480034 - <a href="">Email:ccm@ccm.salta</a></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Derechos Reservados Grupo 6</span> 
    
        </div>
    </footer>

    <script src="../static/js/auth.js"></script>
</body>
</html>
